<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Character Sheet Generator</title>
    <link rel="stylesheet" href="./css/dist.css" />
</head>

<body class="bg-gradient-to-r from-red-500 to-red-800">
    <header class="flex justify-evenly bg-white rounded-b-sm p-4 shadow-2xl">
        <div class="text-lg font-mono">
            <p><a class="hover:text-red-900" href=" ">Home</a></p>
        </div>
        <div class="text-lg font-mono">
            <p><a class="hover:text-red-900" href=" ">About</a></p>
        </div>
        <div class="text-lg font-mono">
            <p>
                <a class="hover:text-red-900" href=" ">Random Sheet of the Day</a>
            </p>
        </div>

        <div class="">
            <button type="button"
                    class="font-mono shadow-2xl p-2 px-3 mr-1 text-white rounded bg-blue-900 hover:bg-red-900">
                Login
            </button>
            <button type="button" class="font-mono shadow-2xl p-2 px-3 text-white rounded bg-blue-900 hover:bg-red-900">
                Sign Up
            </button>
        </div>
    </header>

    <div class="flex justify-center">
        <div class="container bg-white p-10 m-10 rounded-xl shadow-2xl">
            <div class="text-center text-4xl font-mono">
                Welcome to the Character Sheet Generator
            </div>
            <p class="text-center text-xl text-gray-900">
                We have created this for the every day dnd fan!
            </p>
        </div>
    </div>

    <div class="flex justify-center">
        <div class="container bg-white p-10 m-10 rounded-xl shadow-2xl">
            <div class="text-center text-4xl font-mono">Sign up</div>
            <div class="grid place-items-center">
                <div class="p-4 bg-white">
                    <h1 class="text-xl font-semibold">
                        Hey there 👋 ,
                        <span class="font-normal">please fill in your information to build an awesome character
                            sheet!</span>
                    </h1>
                    <form class="mt-6">
                        <div class="flex justify-between gap-3">
                            <span class="w-1/2">
                                <label for="firstname"
                                       class="hover:border-b-8 block text-xs font-semibold text-gray-600 uppercase">First
                                    Name</label>
                                <input id="firstname" type="text" name="firstname" placeholder="Cool"
                                       autocomplete="given-name"
                                       class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
                                       required />
                            </span>
                            <span class="w-1/2">
                                <label for="lastname" class="block text-xs font-semibold text-gray-600 uppercase">Last
                                    name</label>
                                <input id="lastname" type="text" name="lastname" placeholder="Cat"
                                       autocomplete="family-name"
                                       class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
                                       required />
                            </span>
                        </div>
                        <label for="email"
                               class="block mt-2 text-xs font-semibold text-gray-600 uppercase">E-mail</label>
                        <input id="email" type="email" name="email" placeholder="cool.cat@email.com"
                               autocomplete="email"
                               class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
                               required />
                        <label for="password"
                               class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Password</label>
                        <input id="password" type="password" name="password" placeholder="********"
                               autocomplete="new-password"
                               class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
                               required />
                        <label for="password-confirm"
                               class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Confirm password</label>
                        <input id="password-confirm" type="password" name="password-confirm" placeholder="********"
                               autocomplete="new-password"
                               class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
                               required />
                        <button id="sign-up" type="submit"
                                class="w-full py-3 mt-6 font-medium tracking-widest text-white uppercase bg-black shadow-lg focus:outline-none hover:bg-gray-900 hover:shadow-none">
                            Sign up
                        </button>
                        <p
                           class="flex justify-between inline-block mt-4 text-xs text-gray-500 cursor-pointer hover:text-black">
                            <a id="login" href="login">Already a Member? Click here</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <div class="container bg-white p-10 m-10 rounded-xl shadow-2xl">
            <div class="text-center text-4xl font-mono">Picture here.jpg</div>
        </div>
    </div>
</body>

</html>