<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Character Sheet Generator</title>
  <link rel="stylesheet" href="/css/dist.css" />
</head>

<body class="bg-gradient-to-r from-red-500 to-red-800">
  <header class="bg-white rounded-b-sm p-4 shadow-2xl">
    <nav class="hidden laptop:flex justify-evenly">
      <div class="text-lg font-dnd text-2xl">
        <p><a class="hover:text-red-900" href="/">Home</a></p>
      </div>
      <div class="text-lg font-dnd text-2xl">
        <p><a class="hover:text-red-900" href="/profile">User Profile</a></p>
      </div>
      <div class="">
        <a  href="/profile" id="login" class="shadow-2xl p-2 px-3 mr-1 text-white rounded bg-blue-900 hover:bg-red-900">
          Login
        </a>
      </div>
      <div class="">
        <a id="logout"
                class="shadow-2xl p-2 px-3 mr-1 text-white rounded bg-blue-900 hover:bg-red-900">
          Log Out
        </a>
      </div>
    </nav>
    <nav class="flex flex-col laptop:hidden laptop:justify-evenly">
      <svg id="burger" class="w-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
           stroke="currentColor">
        <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="{2}" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
      <svg id="x" class="w-10 hidden" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
           stroke="currentColor">
        <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="{2}" d="M6 18L18 6M6 6l12 12" />
      </svg>
      <div id="menu" class="hidden">
        <div class="text-lg font-dnd text-2xl">
          <p class="flex hover:text-red-900">
            <a class="p-1" href=" ">Home</a>
            <svg class="w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="{2}"
                    d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
            </svg>
          </p>
        </div>
        <div class="text-lg font-dnd text-2xl">
          <p class="flex hover:text-red-900">
            <a class="p-1" href=" ">User Profile</a>
            <svg class="w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="{2}"
                    d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
            </svg>
          </p>
        </div>
        <div class="text-lg text-2xl">
          <a id="login" href="/profile"
                  class="text-sm shadow-2xl p-1 px-2 m-1 mb-3 text-white rounded bg-blue-900 hover:bg-red-900">
            Login
          </a>
        </div>
        <div class="text-lg text-2xl">
        <a  id="logout"
                class="text-sm shadow-2xl p-1 px-2 m-1 text-white rounded bg-blue-900 hover:bg-red-900">
          Log Out
        </a>
        </div>
      </div>
    </nav>
  </header>

  {{{ body }}}
</body>
<script src="/js/logout.js"></script>
<script src="/js/login.js"></script>
<script src="/js/menu.js"></script>


</html>