<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Character Sheet Generator</title>
  <link rel="stylesheet" href="./css/dist.css" />
</head>

<body class="bg-gradient-to-r from-red-500 to-red-800">
  {{{ body }}}
</body>
<script>
  const burger = document.querySelector('#burger');
  const menu = document.querySelector('#menu');
  const x = document.querySelector('#x');

  burger.addEventListener('click', () => {
    if (menu.classList.contains('hidden')) {
      menu.classList.remove('hidden');
      burger.classList.add('hidden');
      x.classList.remove('hidden');
    }
  });

  x.addEventListener('click', () => {
    if (menu.classList != 'hidden') {
      menu.classList.add('hidden');
      burger.classList.remove('hidden');
      x.classList.add('hidden');
    }
  });
</script>

</html>