    <!-- computer nav -->
    <header id="opacity" class="bg-white rounded-b-sm p-4 shadow-2xl">
      <nav class="hidden laptop:flex justify-evenly">
        <div class="text-lg font-dnd text-2xl">
          <p><a class="hover:text-red-900" href=" ">Home</a></p>
        </div>
        <div class="text-lg font-dnd text-2xl">
          <p><a class="hover:text-red-900" href=" ">User Profile</a></p>
        </div>
        <div class="text-lg font-dnd text-2xl">
          <p>
            <a class="hover:text-red-900" href=" ">Random Sheet of the Day</a>
          </p>
        </div>

        <div class="">
          <button
            type="button"
            id="logout"
            class="font-dnd shadow-2xl p-2 px-3 mr-1 text-white rounded bg-blue-900 hover:bg-red-900"
          >
            Log Out
          </button>
        </div>
      </nav>
      <nav class="flex flex-col laptop:hidden laptop:justify-evenly">
        <svg
          id="burger"
          class="w-10"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            strokeLinecap="round"
            strokeLinejoin="round"
            strokeWidth="{2}"
            d="M4 6h16M4 12h16M4 18h16"
          />
        </svg>
        <svg
          id="x"
          class="w-10 hidden"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            strokeLinecap="round"
            strokeLinejoin="round"
            strokeWidth="{2}"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
        <div id="menu" class="hidden">
          <div class="text-lg font-mono">
            <p class="flex hover:text-red-900">
              <a class="p-1 font-dnd" href=" ">Home</a>
              <svg
                class="w-5"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  strokeLinecap="round"
                  strokeLinejoin="round"
                  strokeWidth="{2}"
                  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
                />
              </svg>
            </p>
          </div>
          <div class="text-lg font-mono">
            <p class="flex hover:text-red-900">
              <a class="p-1 font-dnd" href=" ">User Profile</a>
              <svg
                class="w-5"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  strokeLinecap="round"
                  strokeLinejoin="round"
                  strokeWidth="{2}"
                  d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
                />
              </svg>
            </p>
          </div>
          <div class="text-lg font-mono">
            <p class="flex hover:text-red-900">
              <a class="p-1 font-dnd" href=" ">Random Sheet of the Day</a>
              <svg
                class="w-5"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  strokeLinecap="round"
                  strokeLinejoin="round"
                  strokeWidth="{2}"
                  d="M19 20H5a2 2 0 01-2-2V6a2 2 0 012-2h10a2 2 0 012 2v1m2 13a2 2 0 01-2-2V7m2 13a2 2 0 002-2V9a2 2 0 00-2-2h-2m-4-3H9M7 16h6M7 8h6v4H7V8z"
                />
              </svg>
            </p>
          </div>
          <button
            type="button"
            id="logout"
            class="font-dnd shadow-2xl p-1 px-2 m-1 text-white rounded bg-blue-900 hover:bg-red-900"
          >
            Log Out
          </button>
        </div>
      </nav>
    </header>

    <!-- create character banner -->
    <div
      class="flex laptop:mx-auto w-auto laptop:w-1/2 bg-white p-10 m-5 rounded-xl shadow-2xl justify-evenly place-items-center"
    >
      <div class="">
        <h3 class="text-center font-dnd text-4xl">Create your Character</h3>
      </div>
    </div>

    <div
      class="flex flex-col justify-evenly laptop:flex-row bg-white p-10 m-5 rounded-xl shadow-2xl relative"
    >
      <div class="absolute right-28 top-4">
        <botton
          class="mr-5 font-mono shadow-2xl p-1 px-2 text-white rounded bg-blue-900 hover:bg-red-900 mb-4"
          >Save Changes</botton
        >
      </div>
      <div class="bg-gray-100 p-10 rounded-full border-b-8 border-red-800 mb-4">
        <span class="w-1/4 border-b-8 border-red-800 pt-3">
          <label
            for="characterName"
            class="block text-xs font-semibold text-gray-600 uppercase"
            >Character Name</label
          >
          <input
            id="character-name"
            type="text"
            name="characterName"
            class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
          />
        </span>
      </div>
      <div>
        <span class="w-1/4 border-b-8 border-red-800">
          <label
            for="class"
            class="block text-xs font-semibold text-gray-600 uppercase mt-2"
            >Class</label
          >
          <input
            id="class"
            type="text"
            name="characterClass"
            class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
            
          />
          <label
            for="ancestry"
            class="block text-xs font-semibold text-gray-600 uppercase mt-2"
            >ancestry</label
          >
          <input
            id="ancestry"
            type="text"
            name="ancestry"
            class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
          />
        </span>
      </div>
      <div>
        <span class="w-1/4 border-b-8 border-red-800">
          <label
            for="background"
            class="block text-xs font-semibold text-gray-600 uppercase mt-2"
            >Background</label
          >
          <input
            id="background"
            type="text"
            name="background"
            class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
          />
          <label
            for="alignment"
            class="block text-xs font-semibold text-gray-600 uppercase mt-2"
            >Alignment</label
          >
          <input
            id="alignment"
            type="text"
            name="alignment"
            class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
          />
        </span>
      </div>
      <div>
        <span class="w-1/4 border-b-8 border-red-800">
          <label
            for="player-name"
            class="block text-xs font-semibold text-gray-600 uppercase mt-2"
            >Player Name</label
          >
          <input
            id="player-name"
            type="text"
            name="playerName"
            class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
          />
          <label
            for="level"
            class="block text-xs font-semibold text-gray-600 uppercase mt-2"
            >Level</label
          >
          <input
            id="level"
            type="text"
            name="level"
            class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
          />
        </span>
      </div>
    </div>

    <!-- bio and new character -->
    <div
      class="flex flex-col justify-evenly laptop:flex-row laptop:m-10 mt-20 rounded-2xl"
    >
      <div
        class="bg-white rounded-xl shadow-2xl m-5 py-5 laptop:w-1/2 flex-grow flex flex-col justify-evenly"
      >
        <botton
          class="ml-auto mr-5 font-mono shadow-2xl p-1 px-2 text-white rounded bg-blue-900 hover:bg-red-900"
          >Save Changes</botton
        >
        <div class="flex flex-row w-full justify-evenly">
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="strength"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Strength</label
            >
            <div class="flex flex-row justify-evenly">
              <input
                id="strength-stat"
                type="text"
                name="strengthStat"
                class="block w-4/5 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
  
              />
              <input
                id="strength-mod"
                type="text"
                name="characterName"
                class="block w-4/5 p-3 mt-2 ml-1 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
  
              />
            </div>
          </div>
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="dexterity"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Dexterity</label
            >
            <div class="flex flex-row justify-evenly">
              <input
                id="dexterity-stat"
                type="text"
                name="dexterityStat"
                class="block w-4/5 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
  
              />
              <input
                id="dexterity-mod"
                type="text"
                name="dexterityMod"
                class="block w-4/5 p-3 mt-2 ml-1 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
  
              />
            </div>
          </div>
        </div>

        <div class="flex flex-row w-full justify-evenly">
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="constitution"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Constitution</label
            >
            <div class="flex flex-row justify-evenly">
              <input
                id="constitution-stat"
                type="text"
                name="constitutionStat"
                class="block w-4/5 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
  
              />
              <input
                id="constitution-mod"
                type="text"
                name="constitutionMod"
                class="block w-4/5 p-3 mt-2 ml-1 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
  
              />
            </div>
          </div>
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="intelligence"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Intelligence</label
            >
            <div class="flex flex-row justify-evenly">
              <input
                id="intelligence-stat"
                type="text"
                name="intelligenceStat"
                class="block w-4/5 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
  
              />
              <input
                id="intelligence-mod"
                type="text"
                name="intelligenceMod"
                class="block w-4/5 p-3 mt-2 ml-1 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
  
              />
            </div>
          </div>
        </div>
        <div class="flex flex-row w-full justify-evenly">
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="wisdom"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Wisdom</label
            >
            <div class="flex flex-row justify-evenly">
              <input
                id="wisdom-stat"
                type="text"
                name="wisdomStat"
                class="block w-4/5 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
  
              />
              <input
                id="wisdom-mod"
                type="text"
                name="wisdomMod"
                class="block w-4/5 p-3 mt-2 ml-1 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
  
              />
            </div>
          </div>
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="charisma"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Charisma</label
            >
            <div class="flex flex-row justify-evenly">
              <input
                id="charisma-stat"
                type="text"
                name="charismaStat"
                class="block w-4/5 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
  
              />
              <input
                id="charisma-mod"
                type="text"
                name="charismaMOd"
                class="block w-4/5 p-3 mt-2 ml-1 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
  
              />
            </div>
          </div>
        </div>
      </div>

      <div
        class="bg-white rounded-xl shadow-2xl m-5 py-5 laptop:w-1/2 flex-grow flex flex-col justify-evenly"
      >
        <botton
          class="ml-auto mr-5 font-mono shadow-2xl p-1 px-2 text-white rounded bg-blue-900 hover:bg-red-900"
          >Save Changes</botton
        >
        <div class="flex flex-row w-full justify-evenly">
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="armorClass"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >AC</label
            >
            <input
              id="armor-class"
              type="text"
              name="armorClass"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"

            />
          </div>
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="initiative"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Initiative</label
            >
            <input
              id="initiative"
              type="text"
              name="initiative"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"

            />
          </div>
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="speed"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Speed</label
            >
            <input
              id="speed"
              type="text"
              name="speed"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"

            />
          </div>
        </div>

        <div class="flex flex-row w-full justify-evenly">
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="currentHP"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Current HP</label
            >
            <input
              id="current-hp"
              type="text"
              name="currentHP"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"

            />
          </div>
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="maxHP"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Max HP</label
            >
            <input
              id="max-hp"
              type="text"
              name="maxHP"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"

            />
          </div>
        </div>
        <div class="flex flex-row w-full justify-evenly">
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="hitDice"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Hit Dice</label
            >
            <div class="flex justify-evenly">
              <input
                id="hit-dice-remaining"
                type="text"
                name="hitDiceRemaining"
                class="block w-1/3 p-3 m-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
  
              />

              <input
                id="hit-dice-total"
                type="text"
                name="hitDiceTotal"
                class="block w-1/3 p-3 m-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"
  
              />
            </div>
            <div class="flex justify-evenly">
              <label
                for="hit-dice-remaining"
                class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
                >Remaining</label
              >
              <label
                for="hit-dice-total"
                class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
                >Total</label
              >
            </div>
          </div>
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <div class="flex justify-evenly">
              <div id="topc1" class="bg-green-700 rounded-full m-1 p-3"></div>
              <div id="topc2" class="bg-green-700 rounded-full m-1 p-3"></div>
              <div id="topc3" class="bg-green-700 rounded-full m-1 p-3"></div>
              <h3>P</h3>
            </div>
            <div class="flex justify-evenly">
              <div
                id="bottomc1"
                class="bg-green-700 rounded-full m-1 p-3"
              ></div>
              <div
                id="bottomc2"
                class="bg-green-700 rounded-full m-1 p-3"
              ></div>
              <div
                id="bottomc3"
                class="bg-green-700 rounded-full m-1 p-3"
              ></div>
              <h3>F</h3>
            </div>
            <label
              for="deathSaves"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Death Saves</label
            >
          </div>
        </div>
      </div>
    </div>

    <!-- second flex character sheet -->
    <div
      class="flex flex-col justify-evenly laptop:flex-row laptop:m-10 mt-20 rounded-2xl"
    >
      <div
        class="bg-white rounded-xl shadow-2xl m-5 py-5 laptop:w-1/2 flex-grow flex flex-col justify-evenly"
      >
        <botton
          class="ml-auto mr-5 font-mono shadow-2xl p-1 px-2 text-white rounded bg-blue-900 hover:bg-red-900"
          >Save Changes</botton
        >
        <div
          class="flex flex-col laptop:flex-row w-full justify-evenly flex-grow"
        >
          <div
            class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl flex flex-col"
          >
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="inspiration"
                type="checkbox"
                class="form-checkbox h-5 w-5 text-gray-600"
              /><span class="ml-2 text-gray-700">
                <label
                  for="inspiration"
                  class="block text-xs font-semibold uppercase mt-2 text-center mb-2"
                  >Inspiration</label
                ></span
              >
            </label>
            <div class="flex pl-3">
              <input
                id="proficiency"
                type="text"
                name="proficiency"
                class="block w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
  
              />
              <label
                for="proficiency"
                class="block text-xs font-semibold uppercase mt-6 ml-2 text-center"
                >Proficiency</label
              >
            </div>
            <div class="flex pl-3">
              <input
                id="passive-wisdom"
                type="text"
                name="passiveWisdom"
                class="block w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
  
              />
              <label
                for="passiveWisdom"
                class="block text-xs font-semibold uppercase mt-6 ml-2 text-center"
                >Passive Wisdom (perception)</label
              >
            </div>
          </div>
          <div
            class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl flex flex-col"
          >
            <h3 class="p-3 text-center">Saves</h3>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="strength-save-proficiency"
                type="checkbox"
                name="strengthSaveProficiency"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="strength-save-stat"
                type="text"
                name="strengthSave-stat"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
  
              />
              <label
                for="strengthSave"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Strength</label
              >
            </label>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="dexterity-save-proficiency"
                type="checkbox"
                name="dexteritySaveProficiency"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="dexterity-save-stat"
                type="text"
                name="dexteritySaveStat"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
  
              />
              <label
                for="dexteritySave"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Dexterity</label
              >
            </label>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="constitution-save-proficiency"
                type="checkbox"
                name="constitutionSaveProficiency"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="constitution-save-stat"
                type="text"
                name="constitutionSaveStat"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
  
              />
              <label
                for="constitutionSave"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Constitution</label
              >
            </label>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="intelligence-save-proficiency"
                type="checkbox"
                name="intelligenceSaveProficiency"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="intelligence-save-stat"
                type="text"
                name="intelligenceSaveStat"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
  
              />
              <label
                for="intelligenceSave"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Intelligence</label
              >
            </label>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="wisdom-save-proficiency"
                type="checkbox"
                name="wisdomSaveProficiency"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="wisdom-save-stat"
                type="text"
                name="wisdomSaveStat"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
  
              />
              <label
                for="wisdomSave"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Wisdom</label
              >
            </label>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="charisma-save-proficiency"
                type="checkbox"
                name="charismaSaveProficiency"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="charisma-save-stat"
                type="text"
                name="charismaSaveStat"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
  
              />
              <label
                for="charismaSa"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Charisma</label
              >
            </label>
          </div>
        </div>

        <h3 class="border-black border-solid border-b p-3 m-3 text-center">
          Skills
        </h3>

        <div
          class="flex flex-col laptop:flex-row w-full justify-evenly flex-grow"
        >
          <div
            class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl flex flex-col"
          >
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="acrobatics-proficiency"
                type="checkbox"
                name="acrobaticsProficiency"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="acrobatics-stat"
                type="text"
                name="acrobaticsStat"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
  
              />
              <label
                for="acrobaticsSkill"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Acrobatics (DEX)</label
              >
            </label>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="animal-handling-proficiency"
                type="checkbox"
                name="animalHandlingProficiency"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="animal-handling-stat"
                type="text"
                name="animalHandlingStat"
                placeholder=""
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
  
              />
              <label
                for="animalHandlingSkill"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Animal Handling (WIS)</label
              >
            </label>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="arcana-proficiency"
                type="checkbox"
                name="arcanaProficiency"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="arcana-stat"
                type="text"
                name="arcanaStat"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
  
              />
              <label
                for="arcanaSkill"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Arcana (INT)</label
              >
            </label>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="athletics-proficiency"
                type="checkbox"
                name="athleticsProficiency"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="athletics-stat"
                type="text"
                name="athleticsStat"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
  
              />
              <label
                for="athleticsSkill"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Athletics (STR)</label
              >
            </label>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="deception-proficiency"
                type="checkbox"
                name="deceptionProficiency"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="deception-stat"
                type="text"
                name="deceptionStat"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
  
              />
              <label
                for="deceptionSkill"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Deception (CHA)</label
              >
            </label>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="history-proficiency"
                type="checkbox"
                name="historyProficiency"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="history-stat"
                type="text"
                name="historyStat"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
  
              />
              <label
                for="historySkill"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >History (INT)</label
              >
            </label>
          </div>
          <div
            class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl flex flex-col"
          >
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="insight-proficiency"
                type="checkbox"
                name="insightProficiency"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="insight-stat"
                type="text"
                name="insightStat"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
  
              />
              <label
                for="insightSkill"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Insight (WIS)</label
              >
            </label>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="intimidation-proficiency"
                type="checkbox"
                name="intimidationProficiency"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="intimidation-stat"
                type="text"
                name="intimidationStat"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
  
              />
              <label
                for="intimidationSkill"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Intimidation (CHA)</label
              >
            </label>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="investigation-proficiency"
                type="checkbox"
                name="investigationProficiency"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="investigation-stat"
                type="text"
                name="investigationStat"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
  
              />
              <label
                for="investigationSkill"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Investigation (INT)</label
              >
            </label>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="medicine-proficiency"
                type="checkbox"
                name="medicineProficiency"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="medicine-stat"
                type="text"
                name="medicineStat"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
  
              />
              <label
                for="medicineSkill"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Medicine (WIS)</label
              >
            </label>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="nature-proficiency"
                type="checkbox"
                name="natureProficiency"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="nature-stat"
                type="text"
                name="natureStat"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
  
              />
              <label
                for="natureSkill"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Nature (INT)</label
              >
            </label>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="perception-proficiency"
                type="checkbox"
                name="perceptionProficiency"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="perception-stat"
                type="text"
                name="perceptionStat"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
  
              />
              <label
                for="perceptionSkill"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Perception (WIS)</label
              >
            </label>
          </div>
        </div>
        <div class="flex flex-row w-full justify-evenly">
          <div
            class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl flex flex-col"
          >
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="performance-proficiency"
                type="checkbox"
                name="performanceProficiency"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="performance-stat"
                type="text"
                name="performanceStat"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
  
              />
              <label
                for="performanceSkill"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Performance (CHA)</label
              >
            </label>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="persuasion-proficiency"
                type="checkbox"
                name="persuasionProficiency"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="persuasion-stat"
                type="text"
                name="persuasionStat"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
  
              />
              <label
                for="persuasionSkill"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Persuasion (CHA)</label
              >
            </label>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="religion-proficiency"
                type="checkbox"
                name="religionProficiency"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="religion-stat"
                type="text"
                name="religionStat"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
  
              />
              <label
                for="religionSkill"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Religion (INT)</label
              >
            </label>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="slight-of-hand-proficiency"
                type="checkbox"
                name="slightOfHandProficiency"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="slight-of-hand-stat"
                type="text"
                name="slightOfHandStat"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
  
              />
              <label
                for="slightOfHandSkill"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Sleight of Hand (DEX)</label
              >
            </label>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="stealth-proficiency"
                type="checkbox"
                name="stealthProficiency"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="stealth-stat"
                type="text"
                name="stealthStat"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
  
              />
              <label
                for="stealthSkill"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Stealth (DEX)</label
              >
            </label>
            <label class="inline-flex items-center mt-3 pl-3">
              <input
                id="survival-proficiency"
                type="checkbox"
                name="survivalProficiency"
                class="form-checkbox h-5 w-5 text-gray-600 mt-2"
              /><span class="ml-2 text-gray-700"></span>
              <input
                id="survival-stat"
                type="text"
                name="survivalStat"
                class="block h-8 w-1/3 tablet:w-1/3 laptop:w-1/6 p-3 mt-2 mr-1 text-gray-700 bg-gray-50 appearance-none border-2 border-black border-opacity-30"
  
              />
              <label
                for="survivalSkill"
                class="block text-xs font-semibold uppercase mt-4 text-center m-2"
                >Survival (WIS)</label
              >
            </label>
          </div>
        </div>
      </div>

      <div
        class="bg-white rounded-xl shadow-2xl m-5 py-5 flex flex-col justify-evenly"
      >
        <botton
          class="ml-auto mr-5 font-mono shadow-2xl p-1 px-2 text-white rounded bg-blue-900 hover:bg-red-900"
          >Save Changes</botton
        >
        <div class="flex flex-row w-full justify-evenly">
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="attack1Name"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Attack Name</label
            >
            <input
              id="attack1-name"
              type="textarea"
              name="attack1Name"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"

            />
          </div>
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="strength1"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Strength</label
            >
            <input
              id="strength1"
              type="text"
              name="strength1"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"

            />
          </div>
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="damage1"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Damage</label
            >
            <input
              id="damage1"
              type="text"
              name="damage1"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"

            />
          </div>
        </div>

        <div class="flex flex-row w-full justify-evenly">
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="attack2Name"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Attack Name</label
            >
            <input
              id="attack2-name"
              type="textarea"
              name="attack2Name"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"

            />
          </div>
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="strength2"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Strength</label
            >
            <input
              id="strength2"
              type="text"
              name="strength2"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"

            />
          </div>
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="damage2"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Damage</label
            >
            <input
              id="damage2"
              type="text"
              name="damage2"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"

            />
          </div>
        </div>

        <div class="flex flex-row w-full justify-evenly">
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="attack3Name"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Attack Name</label
            >
            <input
              id="attack3-name"
              type="textarea"
              name="attack3Name"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"

            />
          </div>
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="strength3"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Strength</label
            >
            <input
              id="strength3"
              type="text"
              name="strength3"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"

            />
          </div>
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl">
            <label
              for="damage3"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Damage</label
            >
            <input
              id="damage3"
              type="text"
              name="damage3"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"

            />
          </div>
        </div>
        
        <div class="flex flex-row justify-evenly w-full">
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl w-full">
            <label
              for="spell1"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Spell</label
            >
            <input
              id="spell1"
              type="text"
              name="spell1"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"

            />
          </div>
        </div>
           <div class="flex flex-row justify-evenly w-full">
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl w-full">
            <label
              for="spell2"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Spell</label
            >
            <input
              id="spell2"
              type="text"
              name="spell2"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"

            />
          </div>
        </div>
           <div class="flex flex-row justify-evenly w-full">
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl w-full">
            <label
              for="spell3"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Spell</label
            >
            <input
              id="spell3"
              type="text"
              name="spell3"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"

            />
          </div>
        </div>
           <div class="flex flex-row justify-evenly w-full">
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl w-full">
            <label
              for="spell4"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Spell</label
            >
            <input
              id="spell4"
              type="text"
              name="spell4"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"

            />
          </div>
        </div>
           <div class="flex flex-row justify-evenly w-full">
          <div class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl w-full">
            <label
              for="spell5"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Spell</label
            >
            <input
              id="spell5"
              type="text"
              name="spell5"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"

            />
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col justify-evenly laptop:flex-row laptop:m-10 mt-20 rounded-2xl"
    >
      <div
        class="bg-white rounded-xl shadow-2xl m-5 py-5 laptop:w-1/2 flex-grow flex flex-col justify-evenly"
      >
        <botton
          class="ml-auto mr-5 font-mono shadow-2xl p-1 px-2 text-white rounded bg-blue-900 hover:bg-red-900"
          >Save Changes</botton
        >
        <div class="flex flex-col laptop:flex-row w-full justify-evenly">
          <div
            class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl w-full laptop:w-1/4"
          >
            <label
              for="personalityTraits"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Personality Traits</label
            >
            <textarea
              id="personality-traits"
              type="text"
              name="personalityTraits"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"

            ></textarea>
          </div>
          <div
            class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl w-full laptop:w-1/4"
          >
            <label
              for="ideals"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Ideals</label
            >
            <textarea
              id="ideals"
              type="text"
              name="ideals"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"

            ></textarea>
          </div>
          <div
            class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl w-full laptop:w-1/4"
          >
            <label
              for="bonds"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Bonds</label
            >
            <textarea
              id="bonds"
              type="text"
              name="bonds"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"

            ></textarea>
          </div>
          <div
            class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl w-full laptop:w-1/4"
          >
            <label
              for="flaws"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Flaws</label
            >
            <textarea
              id="flaws"
              type="text"
              name="flaws"
              class="block w-full p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"

            ></textarea>
          </div>
        </div>
        <div class="flex flex-col laptop:flex-row w-full justify-evenly">
          <div
            class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl w-full laptop:w-1/4 h-72"
          >
            <label
              for="equipment"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Equipment</label
            >
            <textarea
              id="equipment"
              type="text"
              name="equipment"
              class="block w-full h-60 p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"

            ></textarea>
          </div>
          <div
            class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl w-full laptop:w-1/4 h-72"
          >
            <label
              for="other-proficiencies-and-languages"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Other Proficiencies and Languages</label
            >
            <textarea
              id="other-proficiencies-and-languages"
              type="text"
              name="otherProficienciesAndLanguages"
              class="block w-full h-60 p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"

            ></textarea>
          </div>
          <div
            class="bg-gray-200 mx-3 my-4 p-2 rounded-md shadow-2xl w-full laptop:w-1/2 h-72"
          >
            <label
              for="features-and-traits"
              class="block text-xs font-semibold text-gray-600 uppercase mt-2 text-center"
              >Features and Traits</label
            >
            <textarea
              id="features-and-traits"
              type="text"
              name="featuresAndTraits"
              class="block w-full h-60 p-3 mt-2 text-gray-700 bg-gray-50 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner"

            ></textarea>
          </div>
        </div>
      </div>
    </div>
    <script src="./js/character.js"></script>